<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alien1" class="com.telusko.Alien" autowire="byType">
        <property name="age" value="21"/>
<!--        <property name="com" ref="com1"/>-->
    </bean>

    <bean id="com1" class="com.telusko.Laptop" primary="true"/>
    <bean id="com" class="com.telusko.Desktop" lazy-init="true"/>
</beans>

